.centerdiv{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.container:hover{
  background: lightgreen;
  animation: mymove 5s 1 linear;
}

.container{
  border-radius: 50px;

}

@keyframes mymove {
  100% {transform: rotate(360deg);}
}


