<div class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="javascript:void(0)">Link Shortener By Arnab!</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navb">
    <ul class="navbar-nav mr-auto">
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <label for="search" class="mr-sm-2" >Search this site</label>
      <input class="form-control mr-sm-2 shade" type="search" placeholder="Search" data-toggle="tooltip" title="Search anything on this site. Click Search when done ->">
      <button class="btn btn-outline-dark shade mr-2 mr-sm-1" data-toggle="tooltip" title="Search anything on this site" type="button">Search</button>

    </form>
  </div>
</div>

<div class="p-4">
  <router-outlet></router-outlet>
</div>



<div class="jumbotron text-center" style="margin-bottom:0">
  <address >
    Developed By: Arnab Mitra <br>
    API Used: Bitly - https://dev.bitly.com/ <br>
    Date: 2021/06/20 <br>
  </address>
  
</div>