.footer{
    color: white;
    background-color: black;
}

a{
    text-decoration: none;
}

.centerdiv{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bi-heart-fill{
    color: red;
}